body {
/*
    font-family: 'Amatic SC', cursive;
    font-family: 'Fascinate Inline', cursive;
    font-family: 'Permanent Marker', cursive;
*/
    font-family: 'Luckiest Guy', cursive;
/*
    font-family: 'Special Elite', cursive;
    font-family: 'Fredericka the Great', cursive;
}*/
